/********** General **********/
body{
    background-color: #F8F8F8;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction:column;
}

/********** Stickman **********/
svg{
    stroke: #242424;
    stroke-width: 10px;
    stroke-linecap: round;
    fill: transparent;
}

.keyboard, .stickman{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/********** Keyboard **********/
.keyboard div{
    max-width: 500px;
    border-radius: 5px;
    background-color: #b8d7db80;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px #3D858E50;
    padding: 40px 20px 20px 20px;
}
@media all and (min-width:768px){
    .keyboard div{
        padding: 70px 30px 70px 65px;
    }
}

.keyboard{
    display: flex;
    flex-direction: row;
}


.keyboard .btn{
    width: 50px;
    margin-bottom: 10px;
    font-size: 20px !important;
}

.presse {
    background-color: #b8d7db80 !important;
    backdrop-filter: blur(10px) !important;
    color:rgb(139, 139, 139) !important;
    border: #fff !important;
}

/********** Notice **********/
.notice{
    display:none;
}

@media all and (min-width:768px){
    .notice{
        display: block;
        color: #24242473;
        font-size: 14px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

/********** Word to guess **********/
.word{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

#wordToGuess{
    margin-top: 20px;
    font-size: 38px;
    font-weight: bold;
}

/********** Modal **********/

.titleModal{
    font-weight: bold !important;
    font-size: 42px !important;
}
.textModal{
    font-weight: 600;
    
}

.btn-end{
    font-size: 20px !important;
    padding: 1em 4em !important;
}

.container-main{
    position: relative;
    padding-top: 0vh;
    
}

.message-container{
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -15vh !important;
}

#inner-message{
    min-width: 95vw;
    padding: 100px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b8d7db80;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px #3D858E50;
}
@media all and (min-width:768px){
    #inner-message{
        min-width: 500px;
    }
}

/********** Hero-banner **********/
.hero-banner{
    height: 40vh;
    background-image: url("/public/assets/img/nasa-Q1p7bh3SHj8-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.logo{
    height: 300px;
}

.row-replay{
    display: flex;
    justify-content: center;
    text-align: center;
}